
<h3>View Recommendation

<div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
  <label class="btn active">
  <%= link_to "Edit", edit_recommendation_path, class:"btn btn-outline-success float-right "  %>
  </label>
  <label class="btn">
    <%= link_to "Back to Recommendations", recommendations_path, class:"btn btn-outline-primary float-right" %>
    </label>
</div> 
  </h3> 
</br>



<%= render "form_show", recommendation: @recommendation %>

