<h1>Welcome to the OSU Student Grader Management System</h1>
<strong>Click on the links on the navigation bar to traverse the site.</strong>
<% if current_user %>
    <% if !current_user.user_approved && (current_user.role == "instructor" || current_user.role == "admin") %>
        <p>You currently have student level permissions</p>      
        <p>Your request to have <%= current_user.role%> level permissions is pending. Contact an Admin for further details.</p>
    <% else %>       
         <p>You currently have <%= current_user.role%> level permissions</p>
         <% if current_user.role == "student" && !current_user.user_approved %>
         <p>If you requested to have admin/instructor permissions, it has been denied. Contact an admin for further details.</p> 
         <% end %>         
    <% end %>   
<% end %>

